<html>
  <head>
    <title></title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(function () {
    $('.fadein img:gt(0)').hide();
    setInterval(function () {
      $('.fadein :first-child').fadeOut().next('img').fadeIn().end().appendTo('.fadein');
    }, 4000);
  });
    </script>


  </head>
  <body>
    <header>
     <div class="container">
        <div class="logo-box">
          <a href="/">
            <img class="logo" src="assets/images/club.jpg">
          </a>
        </div>
          <nav >
            <ul>
            
              <li style="color: brown; font-weight: bold;">Hi {{user1.username}}</li>
              <li><a href="homepage" ><img src="assets/images/hom.png"> </a></li>

              <li><a href="event" ><img src="assets/images/cal.png"> </a></li>
              <li><a href="achieve" ><img src="assets/images/ach.gif"> </a></li>

              <!-- <li><a href="profile" ><img src="assets/images/profile.gif"> </a></li> -->
             
              <li><a href="setting" ><img src="assets/images/settings.png"> </a></li> 
           
             
              <li><a href="/">Logout </a></li> 
            

           </ul>
        </nav>
      </div>
    </header>
  </body>
</html>