
<!-- <app-admin></app-admin> -->
<!-- <app-event></app-event> -->
<!-- <app-practice></app-practice> -->
<!-- <app-sportvisit></app-sportvisit> -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-profile></app-profile> -->
<!-- <app-setting></app-setting> -->
<!-- <app-sportpage></app-sportpage> -->
<router-outlet></router-outlet>
<!-- <app-user></app-user> -->
<!-- <app-setting></app-setting> -->
<!-- <app-chat></app-chat> -->
<!-- <app-card></app-card> -->
<!-- <app-comment></app-comment> -->
<!-- <app-cultural></app-cultural> -->
<!-- <app-english></app-english> -->
<!-- <app-navbar></app-navbar> -->