<app-navbar1></app-navbar1>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gajraj+One&family=Zeyada&display=swap" rel="stylesheet">
    
</head> -->
<body>

    <div class="wrapper">
        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">
            
            <div class="image-container">
                <img src="assets/images/all.jpg" alt="">
                
            </div>

            <!-- <div class="text-container">
                <h1 style="color: black;">About us</h1>
                <div class="typewriter">
                    <h2>Cultural, Sports, English </h2>
                  </div>
                  <div>
                    <div class="text">
                        <ul class="a">
                            &#10122; It is a club management software system in the handy form of a website.<br>
                            <br> &#10123;  The main propose of this website is the user can easily do member registration.
                           
                          </ul> -->
    <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/382a3c97-696e-4e97-93ef-5ecb365abdbe"></iframe>

                          
<!--                     
                    </div>
                   
                  </div>

                <a href="https://bvrithyderabad.edu.in/" target="_blank">Read More</a>
            </div>
            
        </div>
   
    -->
</div>  </div>
    <!-- <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/382a3c97-696e-4e97-93ef-5ecb365abdbe"></iframe> -->
</body>
<!-- </html> -->